@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Poppins;
    letter-spacing: 0.7px;
}
body{
    padding: 0 20px;
}
button{
    background-color: black;
    color: white;
    padding:10px 20px;
    border: none;
    outline: none;
    cursor: pointer;
    margin-right: 20px;
    min-width: 100px;
    margin-bottom: 20px;
}

@media screen and (min-width:768px)
{
    body{
        padding: 0 100px;
    }   
}