input[type="text"],input[type="number"]
{
    display: block;
    width: 100%;
    margin: 0px 0 10px 0;
    padding: 2px;
    outline: none;
    border: none;
    border-bottom: 1px solid black;
    font-size: 1.2em;
}